<footer class="cc-footer">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-4">
        <h5><i class="fa-solid fa-store me-2"></i>CraftCorner</h5>
        <p class="mt-2">A marketplace for authentic handmade and handicraft products, connecting artisans with buyers who appreciate the beauty of handcrafted goods.</p>
      </div>
      <div class="col-lg-2 col-6">
        <h6>Explore</h6>
        <ul class="list-unstyled mt-2">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/products">Products</a></li>
          <li><a routerLink="/shops">Shops</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-6">
        <h6>Account</h6>
        <ul class="list-unstyled mt-2">
          <li><a routerLink="/auth/login">Login</a></li>
          <li><a routerLink="/auth/register">Register</a></li>
          <li><a routerLink="/orders">My Orders</a></li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h6>Become a Seller</h6>
        <p class="mt-2 small">Are you an artisan? Join CraftCorner and start selling your handmade products to thousands of buyers.</p>
        <a routerLink="/auth/register" class="btn btn-sm btn-outline-primary mt-1">Start Selling</a>
      </div>
    </div>
    <hr class="mt-4">
    <p class="text-center small mb-0">&copy; {{ year }} CraftCorner. All rights reserved.</p>
  </div>
</footer>
